image: openjdk:17

build:
  script:
    - ./gradlew build
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 1 month

deploy:
  script:
    - ./gradlew curseforge
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 1 month
  when: manual
