name: Rebuild Cache

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get all branches
        run: |
          git fetch --all
          # Only create local branches for remote branches that do not already exist locally
          git branch -r | grep -v '\->' | while read remote; do
            branch="${remote#origin/}"
            if [ "$branch" != "$(git branch --show-current)" ] && [ -z "$(git branch --list "$branch")" ]; then
              git branch --track "$branch" "$remote"
            fi
          done

      - name: update cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up Gradle JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Build each branch
        run: |
          # Define exclusion patterns
          exclude_patterns=("l10n_master" "special/*")
          
          for branch in $(git for-each-ref --format='%(refname:short)' refs/heads/); do
            # Skip branches that match exclusion patterns
            skip=false
            for pattern in "${exclude_patterns[@]}"; do
              if [[ "$branch" == $pattern ]]; then
                echo "Skipping branch: $branch"
                skip=true
                break
              fi
            done
            
            if [ "$skip" = false ]; then
              echo "Checking out branch: $branch"
              git checkout $branch
              echo "Ensuring gradlew has permissions before continuing"
              chmod +x gradlew
              echo "Running build on branch: $branch"
              ./gradlew --build-cache --quiet build > /dev/null 2>&1
              echo "Cleaning directories for next branch"
              ./gradlew clean --quiet > /dev/null 2>&1
            fi
          done

      - name: stop daemon
        run: ./gradlew --stop
